html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
hr {
    border: 0;
    height: 2px;
    background: #000000;
    width: 80%;
    background-image: linear-gradient(to right, rgb(160, 160, 160), rgb(0,0,0), rgb(160, 160, 160));
}
body {
    background: rgb(63, 63, 63);
    padding-top: 80px;
}
a {
    color: rgb(160, 160, 160);
}
p {
    display:inline-block;
    margin-top:7px;
    margin-bottom:7px;
}
.header {
    display: inline;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: rgb(20, 20, 20);
}
.subheader {
    text-align: center;
    margin-top: 50px;
}
.title {
    margin-left: 45px;
}
.my-image {
    width: 250px;
    margin-right: 35px;
    vertical-align: top;
}
.contact-alltext {
    display: inline-block;
    text-align: left;
}
.contact-info {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px;
} 
.writeup-links {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 150px;
}
.icons {
    display: inline-block;
}
.icontext {
    display: block;
}
.thumbnail {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
}
